################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DCWR.Event_Manager/.vs/DCWR.Event_Manager/v16
