################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DCWR.Event_Manager/.vs/DCWR.Event_Manager/v16
/DCWR.Event_Manager/DCWR.Event_Manager/obj
/DCWR.Event_Manager/DCWR.Event_Manager.Contracts/obj
/DCWR.Event_Manager/DCWR.Event_Manager.WebApi/obj
/DCWR.Event_Manager/DCWR.Event_Manager/bin/Debug/netcoreapp3.1
/DCWR.Event_Manager/DCWR.Event_Manager.Contracts/bin/Debug/netcoreapp3.1
/DCWR.Event_Manager/DCWR.Event_Manager.WebApi/bin/Debug/netcoreapp3.1/DCWR.Event_Manager.WebApi.deps.json
*.dll
*.exe
*.pdb
/DCWR.Event_Manager/DCWR.Event_Manager.WebApi/bin/Debug/netcoreapp3.1/DCWR.Event_Manager.WebApi.runtimeconfig.dev.json
/DCWR.Event_Manager/DCWR.Event_Manager.WebApi/bin/Debug/netcoreapp3.1/DCWR.Event_Manager.WebApi.runtimeconfig.json
/DCWR.Event_Manager/DCWR.Event_Manager.Tests/bin/Debug/netcoreapp3.1
/DCWR.Event_Manager/DCWR.Event_Manager.Tests/obj
/obj
/DCWR.Event_Manager/obj
/DCWR.Event_Manager/DCWR.Event_Manager.WebApi/DCWR.Event_Manager.WebApi.csproj.user
